---
import "../styles/about.css";

import MainLayout from "../layouts/MainLayout.astro";

import i203 from "../assets/images/203.webp";
import i401 from "../assets/images/401.webp";
import i301 from "../assets/images/301.webp";
import i406 from "../assets/images/406.webp";
import i106 from "../assets/images/106.webp";
import i305 from "../assets/images/305.webp";
import i302 from "../assets/images/302.webp";
import i404 from "../assets/images/404.webp";
import i105 from "../assets/images/105.webp";
import i402 from "../assets/images/402.webp";
import i103 from "../assets/images/103.webp";
import i201 from "../assets/images/201.webp";
import { Image } from "astro:assets";
---

<MainLayout>
    <div class="main">
        <h1>About Us</h1>
        <p>Coming from the bright students of MAWD102/202 from S.T.I. Ortigas Extension. We are Pitiks, an on-campus Information Technology Student Organization that specializes in providing photography services within our campus.</p>
        <p>What started as a hobby, turned into a passion that grew a team of creative minds whose goal is to encourage and persuade you, that you have your own charm and beauty.</p>
    </div>

    <div class="carousel-section">
        <h2>Recent Works</h2>
        <div class="carousel-container">
            <div class="carousel">
                <div class="img-container">
                    <Image src={i203} alt="" quality="low" class="vertical"/>
                    <Image src={i401} alt="" quality="low" class="vertical"/>
                    <Image src={i301} alt="" quality="low" class="horizontal"/>
                </div>
                <div class="img-container">
                    <Image src={i406} alt="" quality="low" class="horizontal"/>
                    <Image src={i106} alt="" quality="low" class="vertical"/>
                    <Image src={i305} alt="" quality="low" class="vertical"/>
                </div>
                <div class="img-container">
                    <Image src={i302} alt="" quality="low" class="vertical"/>
                    <Image src={i404} alt="" quality="low" class="vertical"/>
                    <Image src={i105} alt="" quality="low" class="horizontal"/>
                </div>
                <div class="img-container">
                    <Image src={i402} alt="" quality="low" class="horizontal"/>
                    <Image src={i103} alt="" quality="low" class="vertical"/>
                    <Image src={i201} alt="" quality="low" class="vertical"/>
                </div>
            </div>
            <div class="carousel">
                <div class="img-container">
                    <Image src={i203} alt="" quality="low" class="vertical"/>
                    <Image src={i401} alt="" quality="low" class="vertical"/>
                    <Image src={i301} alt="" quality="low" class="horizontal"/>
                </div>
                <div class="img-container">
                    <Image src={i406} alt="" quality="low" class="horizontal"/>
                    <Image src={i106} alt="" quality="low" class="vertical"/>
                    <Image src={i305} alt="" quality="low" class="vertical"/>
                </div>
                <div class="img-container">
                    <Image src={i302} alt="" quality="low" class="vertical"/>
                    <Image src={i404} alt="" quality="low" class="vertical"/>
                    <Image src={i105} alt="" quality="low" class="horizontal"/>
                </div>
                <div class="img-container">
                    <Image src={i402} alt="" quality="low" class="horizontal"/>
                    <Image src={i103} alt="" quality="low" class="vertical"/>
                    <Image src={i201} alt="" quality="low" class="vertical"/>
                </div>
            </div>
        </div>
    </div>
</MainLayout>